.container {
  height: 40rem;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

@media only screen and (max-width: 786px) {
  .container {
    height: 40rem;
    width: 100%;
    margin: 0 auto;
    border: 0;
    overflow: hidden;
  }
}
