
.card{
    flex-shrink: 0;
    background-color: #250B0A;
    color: white;
    overflow: hidden;
    padding-bottom: 0.4rem;
    margin: 1rem;
    width: 25rem;
    height: 45rem;
    justify-content: center;
    border-radius: 2rem;
    border: 0.2rem solid #000000;
    text-align: center;
    justify-items: center;
    transition: 0.4s;
    position: relative;
    z-index: 0;
}

.card img{
    width: 100%;
    height:40rem;
    border-bottom: #000000 solid 0.4rem;
    object-fit: cover;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    transition: 0.4s;
}

.card:hover{
    z-index: 10;
    width: 30rem;
    height: 51rem;
    border: 0px;
}

.card:active{
    transform: scale(0.9);
}

.card img:hover{
    z-index: 1;
    height:45rem;
}

.card:hover .title{
    font-size: 4rem;
}

.title{
    font-size: 3rem;
    transition: 1.4s;
    margin-bottom: 1rem;
    font-weight: 600;
}