@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #290510;
  /* background: radial-gradient(circle, #4b091d 0%, #290510 100%); */
  background: #290510;
  background-image: radial-gradient(#47171a 0.2rem, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
  animation: move-background 10s linear infinite;
  
  font-family: monospace, "Roboto Mono";
  width: 100%;
  user-select: none;
  display: flex;

  justify-content: center;
  align-items: center;
  overflow: hidden;

  margin: 0;
  padding: 0;

}

@keyframes move-background {
  0% {
    background-position: -19px -19px;
  }
  100% {
    background-position: 19px 19px;
  }
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  user-select: none;

  
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: #550B22;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #96143b;
}

.fade{
  animation: fadeIn 1s;
}

.pop{
  animation: popIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popIn{
  from{
    transform: scale(0);
    opacity: 0;
  }
  to{
    transform: scale(1);
    opacity: 1;
  }
}

.title {
  font-size: 7rem;
  font-weight: 900;
  color: white;
  margin: 1rem;
  padding-left: 5rem;
  position: relative;
  top: 0;
}

.subtitle{
  font-size: 4rem;
  font-weight: 600;
  color: white;
  display: block;
  width: 100%;
  background-color: #460b0f34;
  border-top: #521a1e solid 0.7rem;
  border-bottom: #521a1e solid 0.7rem;
  -webkit-box-shadow: 0px 0px 85px 25px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 85px 25px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 85px 25px rgba(0,0,0,0.75)
}



.pagetitle{
  position: relative;
  left: -8rem;
  text-align: center;
  overflow: visible;
  width: 100%;
  justify-content: center;
  margin-top: 10rem;
  margin-bottom: 7rem;
}

.carousel{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 10rem;

  white-space: nowarp;
  overflow-x: scroll;
  overflow-y: visible;

  border-top: 0.7rem solid #8E3036;
  border-bottom: 0.7rem solid #8E3036;

  background-color: #47171a48;
  
  -webkit-box-shadow: 0px 0px 85px 25px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 85px 25px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 85px 25px rgba(0,0,0,0.75)
}